@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
:root {
  --color-background: #0e0b1a;
  --color-red: #7a0000;
  --color-green: #007a0c;
  --color-brown: #44280e;
  --color-purple: #2e2845;
  --color-gray-background: #A8B3A8;
  --color-gray-1: #6d7d70;
  --color-gray-2: #687868;
  --color-gray-3: #4c574e;
  --color-gray-4: #262c27;
  --color-gray-5: #131613;
  --color-white: #ffffff;
  --color-blue: #093548;
  --color-font-gray: #bec6bf;
  --color-light-purple: #7776bc;
  --color-data-red: #ffadad;
  --color-button-focus: rgba(8, 47, 155, 0.6) 0px 0px 0px 4px;
}

html,
body {
  color: var(--color-font-gray);
  font-weight: 300;
  font-family: Heebo;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(14, 11, 26);
  background: linear-gradient(
    142deg,
    rgba(14, 11, 26, 1) 0%,
    rgba(46, 40, 69, 1) 100%
  );
}
html {
  height: 100vh;
}

.body {
  padding: 16px;
}

.login {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 64px auto;
  padding: 24px;
  border-radius: 4px;
  background-color: var(--color-gray-2);
  box-shadow: 4px 4px 10px black;
}
.loginInfo {
  color: var(--color-background);
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  font-size: 24px;
}

.login input {
  padding: 8px;
  background-color: var(--color-font-gray);
  border: 2px solid var(--color-brown);
  border-radius: 5px;
  margin: 4px;
}
.login input:focus {
  outline: none;
  border-color: var(--color-blue);
}

.login button {
  margin: 8px;
  background-color: var(--color-background);
  color: var(--color-font-gray);
  padding: 4px 16px;
  border-radius: 4px;
  border: 2px solid var(--color-background);
  font-family: Heebo;
  transition: 0.1s all ease-in-out;
}
.login button:hover {
  cursor: pointer;
  color: var(--color-background);
  background-color: var(--color-gray);
}
.login button:focus {
  outline: none;
  color: var(--color-background);
  background-color: var(--color-gray);
  box-shadow: var(--color-button-focus);
}

.inputLabel {
  color: var(--color-background);
}
.input-custom-field ~ label {
  position: relative;
}
.input-custom-field ~ label::before {
  content: attr(data-label);
  position: absolute;
  color: var(--color-background);
  top: -32px;
  height: 100%;
  left: 104px;
  width: 100px;
  transition: 0.1s all ease-in-out;
}

.loginError {
  color: var(--color-red);
  font-size: 16px;
  margin: 8px 0;
}
.contents {
  border-radius: 8px;
  border: 2px solid var(--color-gray-5);
  background-color: var(--color-gray-3);
  display: flex;
  flex-direction: column;
}
.ticketStatus .open {
  color: var(--color-green);
}
#ticketTable td,
#ticketTable {
  border-spacing: 0;
  padding: 0;
}
#ticketTable td {
  padding: 4px 8px;
}

.TicketRow:hover {
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--color-blue);
}
.ticketDetails {
  display: block;
  position: fixed;
  height: 100%;
  bottom: 0%;
  width: 100%;
  left: 0;
  background-color: var(--color-blue);
}
.overlayNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-gray-3);
}
.closeButton {
  font-size: 24px;
}
.closeButton:hover {
  cursor: pointer;
  opacity: 0.7;
}
.overlayTitle {
  color: var(--color-white);
  display: inline-block;
  font-size: 24px;
  text-overflow: ellipsis;
  margin: 0;
}
.overlayBody {
  height: calc(100% - 60px);
  margin-left: 200px;
}
.overlayUserBody {
  padding: 16px;
}
.userInput {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  background-color: var(--color-gray-background);
  border-radius: 4px;
  padding: 4px;
  border: 2px solid var(--color-gray-4);
  outline: none;
}
.userRow {
  color: var(--color-gray-5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4px;
  border-bottom: 2px solid var(--color-gray-4);
  border-top: 2px solid transparent;
}
.userLabel {
  display: inline-block;
  width: 33%;
  margin: 0 16px;
}
.replyTextarea {
  display: inline-block;
  resize: vertical;
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-gray-3);
  border: 2px solid var(--color-gray-4);
  color: var(--color-white);
  box-sizing: border-box;
  min-height: 64px;
  padding: 4px;
  outline: none;
}
.replyTextarea:focus {
  border-color: var(--color-gray-5);
}
.threadContainer {
  overflow-y: scroll;
  overflow: auto;
  margin: 4px;
  height: calc(100% - 128px);
}
.overlayThread {
  display: block;
  flex-direction: column;
  align-items: stretch;
  margin: 4px 8px;
  margin-left: 200px;
  width: 100%;
}
.overlayDetails {
  overflow-y: scroll;
  overflow: auto;
  padding: 0 4px;
  position: absolute;
  z-index: 4;
  width: 192px;
  height: calc(100% - 67px);
  background-color: var(--color-gray-4);
  box-shadow: 2px 2px 6px var(--color-gray-5);
}
.thread {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 4px 0;
  padding: 8px;
}
.thread.reporter {
  background-color: var(--color-green);
}
.thread.agent {
  background-color: var(--color-red);
}
.replyHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.replyName {
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
}
.replyContainer {
  background-color: var(--color-gray-4);
  z-index: 5;
  left: 200px;
  bottom: 0;
  padding: 4px;
}
.replyContents {
  color: var(--color-white);
}
.replyButtonContainer {
  margin: 4px;
}
.overlaySendButtonLower {
  padding: 4px 8px;
  color: var(--color-white);
  border: 2px solid var(--color-gray-4);
  background-color: var(--color-green);
  border-radius: 5px;
  transition: 0.1s all ease-in-out;
}
.overlaySendButtonLower:hover {
  cursor: pointer;
  background-color: var(--color-gray-3);
}
.overlaySendButtonLower:focus {
  outline: none;
  box-shadow: var(--color-button-focus);
}

.overlayDetails .branding {
  padding: 4px 0;
  font-size: 20px;
  text-align: center;
}

.overlayDetails .divider {
  height: 8px;
  width: 100%;
}

.settingLabel {
  margin: 0;
  font-size: 14px;
  color: var(--color-white);
}

.setting_item {
  padding: 16px 8px;
  background-color: var(--color-gray-3);
}

.settingSelect,
.selectQuery {
  background-color: var(--color-gray-2);
  padding: 4px 8px;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--color-gray-4);
}
.selectQuery {
  border-radius: 8px;
}
.selectQueryInput::placeholder {
  color: var(--color-gray-4);
}
.selectQueryInput {
  cursor: text;
}

.settingSelect {
  border-radius: 4px;
  width: 100%;
}

.settingSelect:active {
  border-color: var(--color-blue);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: var(--color-gray-2);
}

.headerItem {
  display: inline-block;
  width: auto;
  padding: 4px 8px;
  border: none;
  color: var(--color-font-gray);
  border-radius: 4px;
  transition: 0.1s all ease-in-out;
  background-color: var(--color-gray-4);
}
.headerItem:hover {
  cursor: pointer;
  background-color: var(--color-gray-5);
}

.headerItem:focus {
  outline: none;
  box-shadow: var(--color-button-focus);
}
.ticketSettingsButtons {
  padding: 8px 0;
}

.banner {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: -32px;
  padding: 0 16px;
  text-overflow: ellipsis;
}

.testBanner {
  background-color: var(--color-blue);
}

.successBanner {
  background-color: var(--color-green);
}

.errorBanner {
  background-color: var(--color-red);
}
.loginText {
  color: var(--color-gray-5);
}
.loginWindowButton {
  text-decoration: underline;
  color: var(--color-blue);
  cursor: pointer;
}
.loginWindowButton:hover {
  color: var(--color-gray-4);
}

.userContainer {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid var(--color-gray-4);
  background: var(--color-gray-2);
}
.outsideBorder {
  border: 2px solid var(--color-gray-4);
  border-radius: 8px;
}
.row-no-border {
  border: none !important;
}
.updateUser {
  width: 100%;
  margin: 0 8px;
  padding: 0;
  color: var(--color-white);
  border-radius: 4px;
  padding: 4px 8px;
  background-color: var(--color-green);
  outline: none;
  border: 2px solid var(--color-gray-4);
  transition: 0.1s all ease-in-out;
}

.updateUser:hover {
  cursor: pointer;
  background-color: var(--color-blue);
}
.updateUser:focus {
  box-shadow: var(--color-button-focus);
}

/* ////////////// */
/* @media styles */
/* //////////// */

@media only screen and (min-width: 700px) {
  .overlayBody {
    padding: 0 15%;
  }
  .overlayUserBody {
    padding: 16px 20%;
  }
}
